{% extends 'base.html' %}
<title>{% block title %}Profile Page{% endblock %}</title>
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('ProfilePage.static', filename='css/ProfilePage.css') }}">
{% endblock %}
{% block page_body_content %}
    {% block page_main %}
        <div class="user-details">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="{{ category }}"><h2>{{ message }}</h2></div>
                    {% endfor %}
                {% endwith %}
            </div>
            <h2>User Profile</h2>
            <hr>
            <p id="nameHolder"><strong>Name: </strong>{{ username }}</p>
            <p id="emailHolder"><strong>Email: </strong>{{ email }}</p>
            <p id="addressHolder"><strong>Address: </strong>{{ address }}</p>
            <p id="phoneHolder"><strong>Phone: </strong>{{ phone }}</p>
            <button id="logoutBtn">Logout</button>
        </div>
        <div class="update-profile">
            <form>
                <h2>Update Profile</h2>
                <hr>
                <label for="newName">Name:</label>
                <br>
                <input type="text" id="newName" name="name">
                <br>
                <label for="newEmail">Email:</label>
                <br>
                <input type="email" id="newEmail" name="email">
                <br>
                <label for="newAddress">Address:</label>
                <br>
                <input type="text" id="newAddress" name="address">
                <br>
                <label for="newPhone">Phone:</label>
                <br>
                <input type="tel" id="newPhone" name="phone">
                <br>
                <button id="updateProfileBTN">Update Profile</button>
            </form>
        </div>
    {% endblock %}
    {% block page_body_js %}
        <script src="{{ url_for('ProfilePage.static', filename='js/updateProfile.js') }}"></script>
    {% endblock %}
{% endblock %}