{% extends 'base.html' %}
<title>{% block title %}Login Page{% endblock %}</title>
{% block page_body_content %}
    {% block page_main %}
        <form action="/Login">
            <h1>Please Log in</h1>
            <div>
                <label for="email">Email</label>
                <br>
                <input type="text" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <br>
                <input type="password" name="Password" id="password" minlength="5" maxlength="20" required>
            </div>
            <br>
            <hr>
            <button id="loginBtn">Login</button>
            <br>
            <br>
            <p>New here? <a href="{{ url_for('RegisterPage.register_page') }}">Register</a></p>
        </form>
    {% endblock %}
    {% block page_body_js %}
        <script src="{{ url_for('LoginPage.static', filename='js/login.js') }}"></script>
    {% endblock %}
{% endblock %}