{% extends 'base.html' %}
<title>{% block title %}Cart Page{% endblock %}</title>
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('CartPage.static', filename='css/Cart.css') }}">
{% endblock %}
{% block page_body_content %}
    <div class="cartArea">
        {% if items|length > 0 %}
            {% for item in items %}
                <div class="cart-item">
                    <img src="{{ url_for('CartPage.static', filename=item.image_path) }}" alt="{{ item.name }}">
                    <div class="item-details">
                        <h3 class="item-name">{{ item.name }}</h3>
                        <p class="item-price">{{ item.price }}</p>
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button class="remove-item" data-id="{{ item._id }}">Remove</button>
                    </div>
                </div>
            {% endfor %}
            <div class="checkout">
                <button type="button" onclick="location.href='{{ url_for('CheckoutPage.checkout_page') }}'">Proceed to
                    Checkout
                </button>
            </div>
        {% else %}
            <p>Your cart is empty.</p>
        {% endif %}
    </div>
{% endblock %}
{% block page_body_js %}
    <script src="{{ url_for('CartPage.static', filename='js/cart.js') }}"></script>
{% endblock %}