{% extends 'base.html' %}
<title>{% block title %}Cart Page{% endblock %}</title>
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('CartPage.static', filename='css/Cart.css') }}">
{% endblock %}
{% block page_body_content %}
    {% block page_main %}
        <div class="cart-container">
            <h1>Shopping Cart</h1>
            <table class="cart-table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <!--                    <th>Total</th>-->
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="cart-summary">
                <p class="total">Total: <span class="total-value"></span></p>
                <button id="checkoutBtn">Proceed to Checkout</button>
            </div>
        </div>
    {% endblock %}
    {% block page_body_js %}
        <script src="{{ url_for('CartPage.static', filename='js/checkout.js') }}"></script>
        <script src="{{ url_for('CartPage.static', filename='js/cart.js') }}"></script>
    {% endblock %}
{% endblock %}