{% extends 'base.html' %}
<title>{% block title %}Cart Page{% endblock %}</title>
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('CartPage.static', filename='css/Cart.css') }}">
{% endblock %}
{% block page_body_content %}
    {% block page_main %}
        <div class="cart-container">
            <h1>Shopping Cart</h1>
            <table class="cart-table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <!--                    <th>Total</th>-->
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                <tr class="cart-item">
                    <td class="item-name">{{ item.name }}</td>
                    <td><input type="number" value="{{ item.quantity }}" min="1" class="item-quantity" data-product-id="{{ item.productId }}"></td>
                    <td class="item-price">{{ item.price }}</td>
                    <td><button class="remove-item" data-product-id="{{ item.productId }}">Remove</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="cart-summary">
                <p class="total">Total: <span class="total-value"></span></p>
                <button id="checkoutBtn">Proceed to Checkout</button>
            </div>
        </div>
    {% endblock %}
    <script src="/js/checkout.js"></script>
    <script src="/js/cart.js"></script>
{% endblock %}
