{% extends 'base.html' %}
<title>{% block title %}Home{% endblock %}</title>
{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('HomePage.static', filename='css/HomePage.css') }}">
{% endblock %}
{% block page_body_content %}
    {% block page_main %}
       <div class="storeArea">
            {% for product in products %}
            <div class="product">
                <img src="{{ url_for('HomePage.static', filename=product.image_path) }}" alt="{{ product.name }}">
                <div class="product-info">
                    <h3 class="item-name">{{ product.name }}</h3>
                    <p class="item-price">{{ product.price }}</p>
                    <button class="add-to-cart">Add to Cart</button>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
    <script src="/js/home.js"></script>
{% endblock %}
