{% extends 'base.html' %}
<title>{% block title %}Contact Page{% endblock %}</title>
{% block page_body_content %}
    {% block page_main %}
        <form action="/Contact">
            <h1>Contact Us</h1>
            <hr>
            <div>
                <label for="contactName">Name</label>
                <br>
                <input type="text" placeholder="How do we call you?" name="name" id="contactName" autocomplete="off"
                       required>
            </div>
            <div>
                <label for="contactEmail">Email</label>
                <br>
                <input type="email" placeholder="How do we contact you?" name="contactEmail" id="contactEmail" required>
            </div>
            <div>
                <label for="contactSubject">Subject</label>
                <br>
                <input type="text" placeholder="What is it about?" name="subject" id="contactSubject" required>
            </div>
            <div>
                <label for="contactContent">Message</label>
                <br>
                <textarea name="content" id="contactContent" required></textarea>
            </div>
            <br>
            <hr>
            <button id="contactBtn">Submit</button>
            <br>
            <br>
            <p>Want to Register? <a href="{{ url_for('RegisterPage.register_page') }}">Register</a></p>
        </form>
    {% endblock %}
    {% block page_body_js %}
        <script src="{{ url_for('ContactPage.static', filename='js/contact.js') }}"></script>
    {% endblock %}
{% endblock %}