<!DOCTYPE html>
<html lang="en">
<head>
    {% block page_head %}
        {# Title #}
        <title>{% block title %}{% endblock %}</title>

        {# CSS #}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/PageStyle.css') }}"/>
        {% block page_head_css %}{% endblock %}
    {% endblock %}
</head>
<body>
{% include 'Header.html' %}
{% block page_body_content %}
    {% block page_main %}
    {% endblock %}
{% endblock %}
{% include 'Footer.html' %}

{# JS #}
{% block page_body_js %}{% endblock %}
</body>
</html>
