<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <link rel="stylesheet" href="../css/pageStyle.css">
</head>
<header>
    <img id="logo" src="../img/KnitSkit.png" alt="KnitSkitLogo" width="150">
    <nav id="welcome"> Welcome to KnitSkit! </nav>
    <nav class="headerName"><a href="HomePage.html">Home</a></nav>
    <nav class="headerName"><a href="LoginPage.html">Login</a></nav>
    <nav class="headerName"><a href="CartPage.html">Cart</a></nav>
    <nav class="headerName"><a href="ProfilePage.html">Profile</a></nav>
    <nav class="headerName"><a href="ContactPage.html">Contact</a></nav>
    <link rel="stylesheet" href="../css/header.css">
</header>
<body>
<main>
  <form id="checkoutForm">
      <h1>Please Enter Payment Method Below</h1>
      <label for="creditCard">Credit Card Number:</label>
      <br>
      <input type="text" id="creditCard" name="creditCard" required>
      <br>
      <label for="expiryDate">Expiry Date:</label>
      <br>
      <input type="text" id="expiryDate" name="expiryDate" placeholder="MM/YY" required>
      <br>
      <label for="cvv">CVV:</label>
      <br>
      <input type="text" id="cvv" name="cvv" required>
      <br>
      <button id="payBtn">Confirm Payment</button>
    </form>
</main>
<link rel="stylesheet" href="../css/body.css">
<footer>
      <nav id="aboutUsTitle"> About Us</nav>
      <nav id="aboutUs"> KnitSkit is a homemade business created by crochet enthusiasts that aspire to create cute items that will bring a smile for everyone - adults and children alike!</nav>
      <link rel="stylesheet" href="../css/footer.css">
    </footer>
</body>
<script src="/js/pay.js"></script>
</html>
