<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="../static/css/pageStyle.css">
</head>
<header>
  <img id="logo" src="../static/media/img/KnitSkit.png" alt="KnitSkitLogo" width="150">
    <nav id="welcome"> Welcome to KnitSkit! </nav>
    <nav class="headerName"><a href="HomePage.html">Home</a></nav>
    <nav class="headerName"><a href="LoginPage.html">Login</a></nav>
    <nav class="headerName"><a href="CartPage.html">Cart</a></nav>
    <nav class="headerName"><a href="ProfilePage.html">Profile</a></nav>
    <nav class="headerName"><a href="ContactPage.html">Contact</a></nav>
    <link rel="stylesheet" href="../static/css/header.css">
</header>
<body>
<main>
  <h1>Contact Us</h1>
  <hr>
   <form action="/Contact">
      <div>
        <label for="contactName">Name</label>
        <br>
        <input type="text" placeholder="How do we call you?" name="name" id="contactName" autocomplete="off" required>
      </div>
     <div>
       <label for="contactEmail">Email</label>
       <br>
       <input type="email" placeholder="How do we contact you?" name="contactEmail" id="contactEmail" required>
     </div>
     <div>
       <label for="contactSubject">Subject</label>
       <br>
       <input type="text" placeholder="What is it about?" name="subject" id="contactSubject" required>
      </div>
     <div>
       <label for="contactContent">Message</label>
       <br>
       <textarea name="content" id="contactContent" required></textarea>
      </div>
      <br>
     <hr>
    <button id="contactBtn">Submit</button>
      <br>
      <br>
      <p>Want to <a href="RegisterPage.html" class="registerBtn">Register?</a></p>
    </form>
  <link rel="stylesheet" href="../static/css/body.css">
</main>
<footer>
  <nav id="aboutUsTitle"> About Us</nav>
  <nav id="aboutUs"> KnitSkit is a homemade business created by crochet enthusiasts that aspire to create cute items that will bring a smile for everyone - adults and children alike!</nav>
  <link rel="stylesheet" href="../static/css/footer.css">
</footer>
<script src="/static/js/contact.js"></script>
</body>
</html>
